<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Rufo Sanchez</string>
	<key>CFBundleDisplayName</key>
	<string>Instafari</string>
	<key>CFBundleIdentifier</key>
	<string>com.spark74.instafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>instafari.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>readlater</string>
				<key>Identifier</key>
				<string>instafari</string>
				<key>Image</key>
				<string>readlater-icon.png</string>
				<key>Label</key>
				<string>Read Later</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>hotkey_script.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*/*</string>
			<string>https://*/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Adds a simple "Read Later" button to the Safari toolbar.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/rufo/instafari/raw/master/instafari_update.plist</string>
	<key>Website</key>
	<string>http://github.com/rufo/instafari</string>
</dict>
</plist>
