<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>username</string>
		<key>Title</key>
		<string>Email or username</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>password</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Password, if you have one</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>disabled</string>
		<key>Key</key>
		<string>keyboard_shortcut</string>
		<key>Title</key>
		<string>Keyboard Shortcut</string>
		<key>Titles</key>
		<array>
			<string>Disabled</string>
			<string>⌘⌥R</string>
			<string>^⌥R</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>disabled</string>
			<string>mac</string>
			<string>windows</string>
		</array>
	</dict>
</array>
</plist>
